@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #121a25;
  color: #fff;
}

input[type='text'] {
  text-indent: 10px;
  font-size: 18px;
  border-radius: 8px;
}

@media (max-width: 1020px) {
  .msgFormRow {
    flex-direction: column;
  }
}
