# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,angular,node

### Angular ###
## Angular ##
# compiled output
dist/

# dependencies
node_modules/
.angular/

### Node ###
# Logs
logs
dbDocs
*.log
yarn-error.log*

# dotenv environment variable files
.env
.env.prod

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Folder config file
[Dd]esktop.ini

# Mac
.DS_Store

# Docker
.docker.env