services:
  db:
    image: mysql:lts-oraclelinux9
    container_name: ${DATABASE_NAME}
    restart: 'unless-stopped'
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USERNAME}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - chatme_db-data:/var/lib/mysql

  db_admin:
    image: phpmyadmin:fpm-alpine
    container_name: chatme_db_admin
    ports:
      - '8080:80'
    restart: 'unless-stopped'
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    volumes:
      - chatme_db-admin:/var/lib/db/data
    depends_on:
      - db

  api:
    build: ./server
    image: ${DOCKER_USERNAME}/chatme-backend
    container_name: chatme_backend
    ports:
      - 5000:5000
      - 5555:5555
    env_file:
      - ./server/.docker.env
    restart: 'unless-stopped'
    volumes:
      - ./server/:/backend
      - /backend/node_modules
    depends_on:
      - db

  web:
    build: ./client
    image: ${DOCKER_USERNAME}/chatme-frontend
    container_name: chatme_frontend
    ports:
      - 4200:4200
    volumes:
      - ./client/:/frontend
      - /frontend/node_modules
    restart: 'unless-stopped'
    depends_on:
      - api

volumes:
  chatme_db-data:
  chatme_db-admin:
