<div class="join-form-container" *ngIf="!login">
  <form class="p-2" [formGroup]="joinForm">
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col-8">
          <input
            placeholder="Nickname"
            type="text"
            aria-label="login nickname"
            class="form-control"
            formControlName="nickName"
            (input)="nickNameTyper()"
            required
          />
          <div *ngIf="noVal" class="text-danger">
            Please fill your nickName!
          </div>
          <div *ngIf="errorVal" class="text-nowrap" class="text-danger">
            {{ errorVal }}
          </div>
        </div>
        <div class="col-4">
          <button
            aria-label="Join button"
            (click)="enterMe()"
            class="btn btn-info"
            type="button"
            (keypress)="onPressHandler($event)"
          >
            <fa-icon [icon]="joinIcon"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<Header [login]="login"></Header>
<div class="row mb-3 m-0" *ngIf="login">
  <div class="col-12 col-sm-10">
    <h4>
      Welcome
      {{
        joinForm.get('nickName')?.value[0].toUpperCase() +
          joinForm.get('nickName')?.value.slice(1)
      }}
    </h4>
    <MessagesPanel [joinForm]="joinForm" [msgList]="msgList"></MessagesPanel>
    <p *ngIf="typingUser">{{ typingUser }} is typing...</p>
    <msgForm
      [id]="selectedNickName"
      [msgList]="msgList"
      [joinForm]="joinForm"
      [selectedNickName]="selectedNickName"
      [isTyping]="isTyping"
      [typingUser]="
        joinForm.get('nickName')?.value[0].toUpperCase() +
        joinForm.get('nickName')?.value.slice(1)
      "
    ></msgForm>
  </div>
  <div class="col-2 overflow-visible">
    <OnlineList
      [selectedNickName]="selectedNickName"
      [onlineList]="onlineList"
    ></OnlineList>
  </div>
</div>
