<div class="joinFormContainer" *ngIf="!login">
  <form class="p-2" [formGroup]="joinForm">
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col-md-8">
          <input
            placeholder="Nickname"
            type="text"
            aria-label="login nickname"
            class="form-control"
            formControlName="nickName"
            (input)="nickNameTyper()"
            required
          />
          <div *ngIf="noVal" class="text-danger">
            Please fill your nickName!
          </div>
        </div>
        <div class="col-md-4">
          <button
            aria-label="Join button"
            (click)="enterMe()"
            class="btn btn-info"
            type="button"
            (keypress)="onPressHandler($event)"
          >
            <fa-icon [icon]="joinIcon"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div>
  <img src="../assets/logo.png" class="img" alt="" *ngIf="login" />
</div>
<div class="row mb-3 m-0" *ngIf="login">
  <div class="col-md-10">
    <h4>Welcome {{ joinForm.get('nickName')?.value }}</h4>
    <div class="messagesPanel">
      <div *ngIf="msgList.length; else noMsgs">
        <div *ngFor="let msg of msgList">
          <div
            [ngClass]="{
              'bg-success': msg.nickname === joinForm.get('nickName')?.value,
              'bg-info': msg.nickname !== joinForm.get('nickName')?.value
            }"
            class="senderMsg rounded m-2 p-2 border"
          >
            <b>{{ msg.nickname }}</b> : {{ msg.message }}
            <small>{{ extractTime(msg.date) }}</small>
          </div>
        </div>
      </div>
      <ng-template #noMsgs> No messages yet... </ng-template>
    </div>
    <msgForm [msgList]="msgList" [joinForm]="joinForm"></msgForm>
  </div>
  <div class="col-md-1">
    <fa-icon [icon]="onlineIcon"></fa-icon> OnlineList
    <div *ngFor="let user of onlineList">
      <fa-icon
        [icon]="dotIcon"
        [ngClass]="{
          'text-success': user.status === 'online',
          'text-light': user.status === 'offline'
        }"
      ></fa-icon>
      {{ user.nickname }}
    </div>
  </div>
</div>
