.joinFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.messagesPanel {
  height: 850px;
  overflow: auto;
}

.senderMsg {
  width: 200px;
  height: 40px;
  display: inline-block;
}

.img {
  width: 100px;
  height: 100px;
}
