<form [formGroup]="msgForm">
  <div class="d-flex flex-column flex-sm-row mb-3">
    <div class="col-12 col-sm-10">
      <input
        aria-label="message"
        placeholder="Insert your message here..."
        type="text"
        class="form-control"
        formControlName="msg"
        (input)="chat.handleTyping(isTyping, typingUser)"
        required
        #msgInput
      />
    </div>
    <div class="mx-auto col-4 col-sm-2">
      <button
        (click)="sendMsg()"
        class="btn btn-success mt-sm-0 mt-2"
        aria-label="Send message"
        type="button"
        (keypress)="onPressHandler($event)"
      >
        Send! <fa-icon [icon]="sendIcon"></fa-icon>
      </button>
    </div>
  </div>
</form>
