<fa-icon [icon]="onlineIcon"></fa-icon> OnlineList
<br />
<!-- <button (click)="openNewRoom()">All</button> -->
<span class="ms-4"> All </span>
<div *ngFor="let user of onlineList">
  <fa-icon
    [icon]="dotIcon"
    [ngClass]="{
      'text-success': user.status === 'online',
      'text-info': user.status === 'offline',
    }"
  ></fa-icon>
  <!-- <button (click)="openNewRoom(user.nickname, user.userId)"> -->
  {{ user.nickname[0]?.toUpperCase() + user.nickname.slice(1) }}
  <!-- </button> -->
</div>
